<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static  'css/style2.css'%}">
  </head>
  <body>
    <footer style="padding:0px,0px,0px,0px;background-color:transparent; margin:0px;">
      <div class="container" id="foot" style="background:0px 30px rgba(0,0,0,0.4);padding-left:50px;padding-right:50px;margin-top:80px;">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div style="color:white;" class="wow fadeInUp footer-copyright">
              <p style="color:white;padding-top:10px;margin-top:15px;">Copyright &copy; Online Examination System - 2022 </p>
              <p style="color:orange;"><b>Developed by  | Amit Prajapati</b></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
