*{
	margin: 0px;
	padding: 0px;
}

.user-form{
	/* border: 2px solid red; */
	width: 100%;
	height:97vh;
	background: linear-gradient(to right ,greenyellow ,skyblue );
    
}
.user-form form{
	/* border: 2px solid black; */
    margin: 4% auto;
    padding: 3% 0%;
    width: 23%;
    border-radius: 13px;
    background-color: white;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2),0px 6px 8px 0px rgba(0, 0,0,0.3);
}
.input-group{
	padding: 0px 2%;
    margin: 2px auto;
    width: 85%;
}
.header{
	margin: auto;
    width: 93%;
    padding: 4% 0px;
}
.header h1{
	margin: 1% 10%;
	font-size: 30px;
    text-align: center;
}
.header p{
    text-align: center;
    color: grey;
}
.input-group input{
	padding: 4% 7%;
    font-size: 12px;
    margin: 3% 0px;
    text-align: center;
    width: 85%;
    border-radius: 25px;
	
}
.input-group button{
	margin: 2% auto;
    width: 100%;
    padding: 10px 0px;
    border-radius: 25px;
    background-color: #4d8f4d;
    color: white;
    cursor: pointer;
}
.input-group button:hover{
	background-color: rgb(120, 173, 75);
	transition: 0.3s;
}
.record a{
    text-decoration: none;
    border: 1px solid black;
    padding: 8px 80px;
    background-color: rgb(245, 10, 23);
    border-radius: 10px;
    color: white;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0, 0.2),0px 4px 8px 0px rgba(0,0,0, 0.3);
}
.record{
    margin: 1% 42%;
    width: 23%;
}
